<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolher Origem</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <body style="background-color: black;">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                {% load static %}
                <div class="navbar-content">
                    <img src="{% static 'cavaleiro.png' %}" alt="Cavaleiro" class="img-cavaleiro">
                    <span class="navbar-brand mb-0 h1">DEIDAS</span>
                    <!-- Botão sobre a imagem e o texto -->
                    <button class="btn-cover" onclick="window.location.href='/'"></button>
                </div>
            </div>
        </nav>
    </body>

    <div class="entrar">
        {% if messages %}
            <div class="alert alert-danger" role="alert">
                {% for message in messages %}
                    {{ message }}
                {% endfor %}
            </div>
        {% endif %}
        <p>Entrar:</p>
        <form action="{% url 'entrar' %}" method="post">
            {% csrf_token %}
            <textarea class="area_nome" name="texto_nome" rows="1" cols="50" placeholder="Digite o nome completo do seu personagem"></textarea>
            <button class="botao_salvar_C" style="width: 31%;" type="submit">Continuar</button>
        </form>
    </div>

</body>
</html>