<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Escolher Habilidades</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    <body style="background-color: black;">
        <nav class="navbar navbar-light">
            <div class="container-fluid">
                {% load static %}
                <div class="navbar-content">
                    <img src="{% static 'cavaleiro.png' %}" alt="Cavaleiro" class="img-cavaleiro">
                    <span class="navbar-brand mb-0 h1">DEIDAS</span>
                    <!-- Botão sobre a imagem e o texto -->
                    <button class="btn-cover" onclick="window.location.href='/'"></button>
                </div>
            </div>
        </nav>
    </body>
    <!--<h1>Barras de Progresso com Pontos</h1>-->
    
    <form id="Habilidades_form" method="post" action="{% url 'escolher_habilidades' personagem_id=personagem.id_personagem %}">
        {% csrf_token %}
        
        <div class="titulo_habilidades" id="pointsInfo ">
            Pontos disponíveis: <span id="pointsRemaining">{{ total_pontos }}</span>
        </div>
        
        <!-- Barra de Progresso 1 -->
        <h1 class="texto_habilidades">Força:</h1>
        <div class="progress-container">
            <div class="progress-wrapper">
                <div class="progress-text">{{ initial_value_1 }}</div>
                <div id="progressBar1" class="progress-bar"></div>
                <button class="botao_aumentar" type="button" onclick="updateProgress('progressBar1', 'progressValue1', 1)"></button>
             <button class="botao_diminuir" type="button" onclick="updateProgress('progressBar1', 'progressValue1', -1)"></button>
            </div>
        </div>
        <input type="hidden" id="progressValue1" name="progress_value_1" value="{{ initial_value_1 }}">
        
        <h1 class="texto_habilidades">Destreza:</h1>
        <!-- Barra de Progresso 2 -->
        <div class="progress-container">
            <div class="progress-wrapper">
                <div class="progress-text">{{ initial_value_2 }}</div>
                <div id="progressBar2" class="progress-bar"></div>
                <button class="botao_aumentar"  type="button" onclick="updateProgress('progressBar2', 'progressValue2', 1)"></button>
                <button class="botao_diminuir" type="button" onclick="updateProgress('progressBar2', 'progressValue2', -1)"></button>
            </div>
        </div>
        <input type="hidden" id="progressValue2" name="progress_value_2" value="{{ initial_value_2 }}">

        <h1 class="texto_habilidades">Constituição:</h1>
        <!-- Barra de Progresso 3 -->
        <div class="progress-container">
            <div class="progress-wrapper">
                <div class="progress-text">{{ initial_value_3 }}</div>
                <div id="progressBar3" class="progress-bar"></div>
                <button class="botao_aumentar" type="button" onclick="updateProgress('progressBar3', 'progressValue3', 1)"></button>
                <button class="botao_diminuir" type="button" onclick="updateProgress('progressBar3', 'progressValue3', -1)"></button>
            </div>
        </div>
        <input type="hidden" id="progressValue3" name="progress_value_3" value="{{ initial_value_3 }}">
        
        <h1 class="texto_habilidades">Inteligência:</h1>
        <!-- Barra de Progresso 4 -->
        <div class="progress-container">
            <div class="progress-wrapper">
                <div class="progress-text">{{ initial_value_4 }}</div>
                <div id="progressBar4" class="progress-bar"></div>
                <button class="botao_aumentar" type="button" onclick="updateProgress('progressBar4', 'progressValue4', 1)"></button>
                <button class="botao_diminuir" type="button" onclick="updateProgress('progressBar4', 'progressValue4', -1)"></button>
            </div>
        </div>
        <input type="hidden" id="progressValue4" name="progress_value_4" value="{{ initial_value_4 }}">
        
        <h1 class="texto_habilidades">Sabedoria:</h1>
        <!-- Barra de Progresso 5 -->
        <div class="progress-container">
            <div class="progress-wrapper">
                <div class="progress-text">{{ initial_value_5 }}</div>
                <div id="progressBar5" class="progress-bar"></div>
                <button class="botao_aumentar" type="button" onclick="updateProgress('progressBar5', 'progressValue5', 1)"></button>
                <button class="botao_diminuir" type="button" onclick="updateProgress('progressBar5', 'progressValue5', -1)"></button>
            </div>
        </div>
        <input type="hidden" id="progressValue5" name="progress_value_5" value="{{ initial_value_5 }}">

        <h1 class="texto_habilidades">Carisma:</h1>
        <!-- Barra de Progresso 6 -->
        <div class="progress-container">
            <div class="progress-wrapper">
                <div class="progress-text">{{ initial_value_6 }}</div>
                <div id="progressBar6" class="progress-bar"></div>
                <button class="botao_aumentar" type="button" onclick="updateProgress('progressBar6', 'progressValue6', 1)"></button>
                <button class="botao_diminuir" type="button" onclick="updateProgress('progressBar6', 'progressValue6', -1)"></button>
            </div>
        </div>
        <input type="hidden" id="progressValue6" name="progress_value_6" value="{{ initial_value_6 }}">
        
        <!-- Adicione mais barras conforme necessário -->
        
        <button class="botao_salvar" type="submit">Salvar</button>
    </form>

    <h1 style="color: black;">final da pagina</h1>

    <script>

        document.getElementById('progressBar1').style.width = "{{ initial_value_1 }}%";
        document.getElementById('progressBar2').style.width = "{{ initial_value_2 }}%";
        document.getElementById('progressBar3').style.width = "{{ initial_value_3 }}%";
        document.getElementById('progressBar4').style.width = "{{ initial_value_4 }}%";
        document.getElementById('progressBar5').style.width = "{{ initial_value_5 }}%";
        document.getElementById('progressBar6').style.width = "{{ initial_value_6 }}%";

        // Custo de cada valor de barra de progresso
        const costs = {
            8: 0,
            9: 1,
            10: 2,
            11: 3,
            12: 4,
            13: 5,
            14: 7,
            15: 9
        };
        
        let totalPoints = parseInt(document.getElementById('pointsRemaining').innerText);

         document.getElementById('Habilidades_form').addEventListener('submit', function(event) {
        
            let pontosRestantes = totalPoints;

            if (pontosRestantes > 0) {
                // Mostre um alerta para o usuário
                alert('Você ainda tem pontos para gastar! Por favor, gaste todos os pontos antes de salvar.');
                
                // Impede o envio do formulário
                event.preventDefault();
            }
        });

        function updateProgress(progressBarId, progressValueId, change) {
            const progressBar = document.getElementById(progressBarId);
            const progressValue = document.getElementById(progressValueId);
            const progressText = progressBar.previousElementSibling; // Acessa o texto associado
            const currentValue = parseInt(progressText.innerText);
            let newValue = currentValue + change;
            
            if (newValue >= 8 && newValue <= 15) {
                const currentCost = costs[currentValue];
                const newCost = costs[newValue];
                
                if (totalPoints + currentCost - newCost >= 0) {
                    progressText.innerText = newValue;
                    progressBar.style.width = Math.max(((newValue - 8) / (15 - 8) * 100), 10) + '%'; 
                    progressValue.value = newValue;
                    totalPoints += currentCost - newCost;
                    document.getElementById('pointsRemaining').innerText = totalPoints;
                }
            }
        }
    </script>
</body>
</html>